<!DOCTYPE html>
<html>
<head>
    <title>Shake that App!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- added two library files to do youtube embeds easy as pie -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="angular-youtube-embed.js"></script>
    <script src="videoCtrl.js"></script>
</head>

<body ng-app="myApp" ng-controller="videoCtrl">
<h2>Welcome to the awesome video app!</h2>
<!-- form to add new entires -->
<form ng-submit="addVideo()">
    <input type="text" ng-model="videoInput" size="50" placeholder="Add New video">
    <input type="submit" value="Add New">
</form>
</br>
<!-- list entries -->
<div ng-repeat="x in videoList">
   <input type="checkbox" ng-model="x.done" /> <span ng-bind="x.videoText"></span>
</div>

<p><button ng-click="removeVideo()">Remove marked video</button></p>

<!-- You can use 'youtube-video' as an element or attribute. -->
<youtube-video video-id="theBestVideo"></youtube-video>

</body>
</html>