
#container{
	background-color: #00b377;
}

#header{
	background-color:#00b377;
	color: white;
	text-align: center;
}

#adding{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
	padding:10px;
}

.input{
	margin-bottom:5px;
	width:70%;
	border: 1px solid #CCCCCC;
}

#allVideos{
	color: white;
	margin: 0px;
}

.bigVideos{
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.commentField{
	background-color: #ccffee;
	border: 2px solid #00b377;
	margin-right: 0px;
	margin-top:10px;
	margin-bottom:10px;
	overflow: scroll;
}

.comments{
	background-color: white;
}

#removeButton{
	background-color: #ccffee;
	color: black;
	border: 1px solid white;
}

#remove{
	width:20px;
	padding:0px;
	margin:0px;
	height:20px;
}

#remove p{
	font-size:10px;
	padding:0px;
}

h3{
	color:white;
}